body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* align-content: center; */
  background: url('../images/white_carbon.png');
  background-repeat: repeat;
  background-size: cover;
  padding: 0;
  margin: 0 auto;
}

/* #container {
  margin: 0 auto;
  width: 960px;
} */

header {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}

#headtainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
  margin: 0;
}

nav {
  padding: 24px;
  text-decoration-line: none;
  font-size: 16px;
}

#brand {
  background-color: grey;
  padding: 24px;
}

.name {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-decoration-line: none;
}

main {
  margin: 0 auto;
  width: 960px;
  padding: 24px 0px;
}

h1 {
  font-size: 24px;
  padding: 24px 0px 0px 24px;
}

hr {
  margin: 24px 24px 24px 24px;
}

#info {
  float: left;
  background-color: whitesmoke;
}

.profilepic {
  float: left;
  padding: 0px 24px 24px 24px;
  width: 200px;
  height: 200px;
}

.content {
  padding: 0px 24px 24px 24px;
}

footer {
  width: 100%;
  margin: 0;
  padding: 24px;
  align-items: center;
  text-align: center;
  color: white;
  background-color: darkgray;
}
